@font-face{
  font-family: 'jg';
  src: url('ct/JejuGothic.woff') format('woff');
}
@font-face{
  font-family: 'gg';
  src: url('ct/TTJejuGamgyulR.woff') format('woff');
}
*{
  margin: 0;
  padding: 0;
}
div{
  height: 100vh;
  width: 100%;
  position: relative;
  /* background-color: #ffffff; */
  overflow: hidden;
  font-family: 'jg';
}
nav{
  position: fixed;
  background-color: rgba(255, 255, 255, 0.3);
  height: 50px;
  width: 100%;
  z-index: 100;
  font-family: 'gg';
}
nav ul{
  width: 100%;
  height: 100%;
  /* background-color: white; */
  margin: 0 auto;
  text-align: center;
  font-size: 0;
  overflow: hidden;
}
nav ul li{
  display: inline-block;
  font-size: 1.5vw;
  width: 9%;
  height: 100%;
  cursor: pointer;
  padding: 0.7% 0;
}
nav ul li:hover{
  color: #60d4ff;
}
.sub_menu{
  width: 30px;
  height: 500px;
  position: fixed;
  top: 25%;
  left: 2%;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0);
}
.sub_menu .sub_bt{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgb(170, 170, 170);
  border-radius: 50%;
  margin: 10px 0;
  cursor: pointer;
}

.main{
  width: 30%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 5%;
  /* background-color: rgb(255, 207, 207); */
}
.main .main_photo{
  width: 100%;
  height: 45%;
  position: absolute;
  top: 3.5%;
  left: 0;
  /* background-color: rgb(255, 122, 122); */
}
.main .main_photo img{
  width: 100%;
  height: 100%;
}
.main .main_map{
  width: 100%;
  height: 45%;
  position: absolute;
  top: 51.5%;
  left: 0;
  /* background-color: rgb(152, 5, 5); */
}
.main .main_map img{
  width: 100%;
  height: 100%;
}
.sub{
  width: 65%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 35%;
  /* background-color: rgb(196, 227, 255); */
}
.sub .sub_info{
  width: 94.3%;
  height: 58%;
  position: absolute;
  top: 3.5%;
  left: 2.5%;
  background-color: rgba(226, 226, 226, 0.3);
  /* background-color: rgb(67, 175, 254); */
}
.sub .sub_info img{
  width: 35px;
  height: 35px;
  position: relative;
  top: 10px;
}
.sub .sub_info .site{
  width: 90%;
  height: 15%;
  position: absolute;
  top: 5%;
  left: 5%;
  text-align: left;
  font-size: 1.5vw;
  /* background-color: rgb(255, 255, 255); */
}
.sub .sub_info .explain{
  width: 90%;
  height: 70%;
  position: absolute;
  top: 25%;
  left: 5%;
  text-align: left;
  font-size: 1.5vw;
  /* background-color: rgb(255, 255, 255); */
}
.sub .sub_photo{
  width: 95%;
  height: 32%;
  position: absolute;
  top: 64.5%;
  left: 2.5%;
  /* background-color: rgb(0, 121, 199); */
}
.sub .sub_photo img{
  width: 24.5%;
  height: 100%;
}

/*각 페이지단 css*/
#video_box{
  position: relative;
}
#video_box #video{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* min-width: 100%;
  min-height: 100%; */
}
#video_box #video video{
  width: 100%;
  height: 100%;
}
